db.getSiblingDB("{{ unifi_mongodb_dbname }}").createUser({user: "{{ unifi_mongodb_user }}", pwd: "{{ unifi_mongodb_password }}", roles: [{role: "dbOwner", db: "{{ unifi_mongodb_dbname }}"}, {role: "dbOwner", db: "{{ unifi_mongodb_dbname }}_stat"}]});