      version: "3.7"
      services:
        duckdns:
          image: linuxserver/duckdns
          container_name: duckdns
          environment:
            - TZ={{ TZ }}
            - SUBDOMAINS={{ duckdns_subdomain }}
            - TOKEN={{ duckdns_token }}
          networks:
            - docker1
          restart: unless-stopped
        homeassistant:
          container_name: hass
          image: ghcr.io/home-assistant/home-assistant
          volumes:
            - hass-config:/config
          environment:
            - TZ={{ TZ }}
          networks:
            - docker2
            - private0
          restart: unless-stopped
        letsencrypt:
          container_name: letsencrypt 
          image: linuxserver/letsencrypt
          volumes:
            - letsencrypt-config:/config
            - private-nginx-config:/config/nginx
            - private-nginx-log:/config/log/nginx
            - public-nginx-log:/config/log/nginx-public
            - {{ hass_dir }}/home-assistant.log:/config/log/hass/home-assistant.log
            - fail2ban-jails:/etc/fail2ban/jail.d
          ports:
            - {{ internal_ip }}:80:80
          environment:
            - EMAIL={{ letsencrypt_email }}
            - SUBDOMAINS=wildcard
            - URL={{ letsencrypt_url }}
            - VALIDATION=duckdns
            - DUCKDNSTOKEN={{ duckdns_token }}
            - TZ={{ TZ }}
            - DHLEVEL=2048
            - PUID=1000
            - PGID=999
          networks:
            - docker1 
            - private0
          cap_add:
            - NET_ADMIN
          restart: unless-stopped
        public-nginx:
          container_name: public-nginx
          image: linuxserver/nginx
          volumes:
            - letsencrypt-config:/config
            - public-nginx-config:/config/nginx
            - public-nginx-log:/config/log/nginx
          ports:
            - {{ external_ip }}:{{ public_port }}:443
            - {{ external_ip }}:80:80
          environment:
            - TZ={{ TZ }}
            - DHLEVEL=2048
            - PUID=1000
            - PGID=999
          networks:
            public0:
            private0:
              ipv4_address: {{ reverse_proxy_private0_ipv4_address }}
          restart: unless-stopped
        volumerize:
          container_name: volumerize
          image: fekide/volumerize
          volumes:
            - volumerize-cache:/volumerize-cache
            - volumerize-credentials:/credentials
            - hass-storage:/source/hass/storage:ro
            - letsencrypt-etc:/source/letsencrypt/etc:ro
            - secrets:/source/secrets:ro
            - unifi-backup:/source/unifi-backup
            - zwave-config:/source/zwave-config
          environment:
            - VOLUMERIZE_SOURCE=/source
            - VOLUMERIZE_TARGET=gdocs://{{ volumerize_email }}/{{ volumerize_google_drive_dir }}
            - PASSPHRASE={{ volumerize_passphrase }}
            - TZ={{ TZ }}
            - VOLUMERIZE_JOBBER_TIME=0 30 0 * * 1
          networks:
            - docker1
          restart: unless-stopped
        unifi:
          image: linuxserver/unifi-controller
          container_name: unifi
          environment:
            - PUID=1000
            - PGID=999
          volumes:
            - unifi:/config
          ports:
            - 3478:3478/udp
            - 10001:10001/udp
            - 8080:8080
            - 8081:8081
            - 8443:8443
            - 8843:8843
            - 8880:8880
            - 6789:6789
          networks:
            - docker1
          restart: unless-stopped
        plex:
          image: linuxserver/plex
          container_name: plex
          environment:
            - PUID=1000
            - PGID=999
            - VERSION=docker
          volumes:
            - plex_config:/config
            - media:/media
          ports:
            - 32400:32400
            - 32400:32400/udp
            - 32469:32469
            - 32469:32469/udp
            - 1900:1900/udp
            - 3005:3005
            - 8324:8324
            - 32410:32410/udp
            - 32411:32411/udp
            - 32412:32412/udp
            - 32413:32413/udp
            - 32414:32414/udp
          networks:
            - docker1
          restart: unless-stopped
        dhcp:
          image: networkboot/dhcpd
          container_name: dhcp
          volumes:
            - dhcp:/data
          networks:
            dhcp0:
              ipv4_address: "{{ dhcp_docker_ip }}"
          restart: unless-stopped
        dhcp-relay:
          image: pumbaasdad/dhcp-helper
          container_name: dhcp-relay
          network_mode: host
          cap_add:
            - NET_ADMIN
          command: -s {{ dhcp_docker_ip }}
          restart: unless-stopped
        makemkv:
          image: jlesage/makemkv
          container_name: makemkv
          ports:
            - 5801:5800
          environment:
            - USER_ID=1000
            - GROUP_ID=999
            - TZ={{ TZ }}
            - KEEP_APP_RUNNING={{ media_rip_keep_app_running }}
            - AUTO_DISC_RIPPER=1
          volumes:
            - media_rip_destination:/output
            - {{ media_rip_config_dir }}:/config
          networks:
            - docker1
          devices:
            - {{ optical_drives.results[0].stat.lnk_source }}:{{ optical_drives.results[0].stat.lnk_source }}
            - {{ optical_drives.results[1].stat.lnk_source }}:{{ optical_drives.results[1].stat.lnk_source }}
          restart: unless-stopped
        handbrake:
          image: jlesage/handbrake
          container_name: handbrake
          ports:
            - 5800:5800
          environment:
            - USER_ID=1000
            - GROUP_ID=999
            - TZ={{ TZ }}
            - KEEP_APP_RUNNING={{ transcode_keep_app_running }}
            - AUTOMATED_CONVERSION_PRESET={{ transcode_preset }}
            - AUTOMATED_CONVERSION_KEEP_SOURCE={{ transcode_keep_source_file }}
            - AUTOMATED_CONVERSION_OUTPUT_SUBDIR={{ transcode_output_subdir }}
            - AUTOMATED_CONVERSION_SOURCE_STABLE_TIME={{ transcode_input_stability_seconds }}
            - AUTOMATED_CONVERSION_CHECK_INTERVAL={{ transcode_input_check_seconds }}
          volumes:
            - {{ transcode_dir }}:/config
            - media_rip_destination:/watch
            - transcode_destination:/output
            # This is temporary.  Remove this and the transcoder_source when all the pre-ripped content is transcoded
            - transcode_source:/watch2
          networks:
            - docker1
          restart: unless-stopped
        dns:
          image: resystit/bind9
          container_name: bind9
          ports:
            - "53:53"
            - "53:53/udp"
          volumes:
            - {{ dns_config_dir }}:/etc/bind
            - {{ dns_cache_dir }}:/var/cache/bind
          networks:
            - docker1
          restart: unless-stopped
        zwavejs2mqtt:
          image: zwavejs/zwavejs2mqtt:latest
          container_name: zwavejs2mqtt
          ports:
            - "8091:8091"
            - "3000:3000"
          volumes:
            - zwave-config:/usr/src/app/store
          environment:
            - SESSION_SECRET={{ zwave_session_secret }}
            - KEY_S0_Legacy={{ zwave_s0_legacy_key }}
            - KEY_S2_Unauthenticated={{ zwave_s2_unauthenticated_key }}
            - KEY_S2_Authenticated={{ zwave_s2_authenticated_key }}
            - KEY_S2_AccessControl={{ zwave_s2_access_control_key }}
            - TZ={{ TZ }}
          networks:
            - docker2
          devices:
            - /dev/zwaveusbstick:/dev/zwave
          tty: true
          stop_signal: SIGINT
          restart: unless-stopped

      networks:
        docker1:
          driver: bridge
          driver_opts:
            com.docker.network.bridge.name: docker1
        private0:
          driver: bridge
          driver_opts:
            com.docker.network.bridge.name: private0
          internal: true
          ipam:
            driver: default
            config:
              - subnet: "{{ docker_private0_subnet }}"
        public0:
          driver: bridge
          driver_opts:
            com.docker.network.bridge.name: public0
        docker2:
          driver: bridge
          driver_opts:
            com.docker.network.bridge.name: docker2
        dhcp0:
          driver: bridge
          driver_opts:
            com.docker.network.bridge.name: dhcp0
          ipam:
            driver: default
            config:
              - subnet: "{{ dhcp_docker_subnet }}"

      volumes:
        hass-config:
          driver: local
          driver_opts:
            device: {{ hass_dir }}
            o: bind
            type: none
        hass-storage:
          driver: local
          driver_opts:
            device: {{ hass_dir }}/.storage
            o: bind
            type: none
        letsencrypt-config:
          driver: local
          driver_opts:
            device: {{ letsencrypt_dir }}
            o: bind
            type: none
        letsencrypt-etc:
          driver: local
          driver_opts:
            device: {{ letsencrypt_dir }}/etc
            o: bind
            type: none
        fail2ban-jails:
          driver: local
          driver_opts:
            device: {{ fail2ban_dir }}/jail.d
            o: bind
            type: none
        public-nginx-config:
          driver: local
          driver_opts:
            device: {{ public_reverse_proxy_dir }}/nginx
            o: bind
            type: none
        public-nginx-log:
          driver: local
          driver_opts:
            device: {{ public_reverse_proxy_dir }}/log/nginx
            o: bind
            type: none
        private-nginx-config:
          driver: local
          driver_opts:
            device: {{ private_reverse_proxy_dir }}/nginx
            o: bind
            type: none
        private-nginx-log:
          driver: local
          driver_opts:
            device: {{ private_reverse_proxy_dir }}/log/nginx
            o: bind
            type: none
        volumerize-cache:
          driver: local
          driver_opts:
            device: {{ volumerize_dir }}/cache
            o: bind
            type: none
        volumerize-credentials:
          driver: local
          driver_opts:
            device: {{ volumerize_dir }}/credentials
            o: bind
            type: none
        secrets:
          driver: local
          driver_opts:
            device: {{ secrets_dir }}
            o: bind
            type: none
        unifi:
          driver: local
          driver_opts:
            device: {{ unifi_dir }}
            o: bind
            type: none
        unifi-backup:
          driver: local
          driver_opts:
            device: {{ unifi_dir }}/data/backup
            o: bind
            type: none
        media:
          driver: local
          driver_opts:
            device: ":{{ nas_media_dir }}"
            o: addr={{ nas_address }},rw
            type : nfs
        plex_config:
          driver: local
          driver_opts:
            device: {{ media_server_dir }}
            o: bind
            type: none
        dhcp:
          driver: local
          driver_opts:
            device: {{ dhcp_dir }}
            o: bind
            type: none
        media_rip_destination:
          driver: local
          driver_opts:
            device: {{ media_rip_output_dir }}
            o: bind
            type: none
        transcode_source:
          driver: local
          driver_opts:
            device: ":{{ transcode_input_dir }}"
            o: addr={{ nas_address }},rw
            type : nfs
        transcode_destination:
          driver: local
          driver_opts:
            device: ":{{ transcode_output_dir }}"
            o: addr={{ nas_address }},rw
            type : nfs
        zwave-config:
          driver: local
          driver_opts:
            device: {{ zwave_dir }}
            o: bind
            type: none

