      version: "3.7"
      services:
        duckdns:
          image: linuxserver/duckdns
          container_name: duckdns
          environment:
            - TZ={{ TZ }}
            - SUBDOMAINS={{ duckdns_subdomain }}
            - TOKEN={{ duckdns_token }}
          networks:
            - docker1
          restart: unless-stopped
        homeassistant:
          container_name: hass
          image: homeassistant/home-assistant
          volumes:
            - hass-config:/config
          environment:
            - TZ={{ TZ }}
          networks:
            - docker2
            - private0
          devices:
            - /dev/zwaveusbstick:/zwaveusbstick
          restart: unless-stopped
        letsencrypt:
          container_name: letsencrypt 
          image: linuxserver/letsencrypt
          volumes:
            - letsencrypt-config:/config
            - private-nginx-config:/config/nginx
            - private-nginx-log:/config/log/nginx
            - public-nginx-log:/config/log/nginx-public
            - {{ docker_compose_dir }}/hass/home-assistant.log:/config/log/hass/home-assistant.log
            - fail2ban-jails:/etc/fail2ban/jail.d
          ports:
            - {{ internal_ip }}:80:80
          environment:
            - EMAIL={{ letsencrypt_email }}
            - SUBDOMAINS=wildcard
            - URL={{ letsencrypt_url }}
            - VALIDATION=duckdns
            - DUCKDNSTOKEN={{ duckdns_token }}
            - TZ={{ TZ }}
            - DHLEVEL=2048
            - PUID=1000
            - PGID=999
          networks:
            - docker1 
            - private0
          cap_add:
            - NET_ADMIN
          restart: unless-stopped
        public-nginx:
          container_name: public-nginx
          image: linuxserver/nginx
          volumes:
            - letsencrypt-config:/config
            - public-nginx-config:/config/nginx
            - public-nginx-log:/config/log/nginx
          ports:
            - {{ external_ip }}:{{ public_port }}:443
            - {{ external_ip }}:80:80
          environment:
            - TZ={{ TZ }}
            - DHLEVEL=2048
            - PUID=1000
            - PGID=999
          networks:
            - public0
            - private0
          restart: unless-stopped
        volumerize:
          container_name: volumerize
          image: blacklabelops/volumerize
          volumes:
            - volumerize-cache:/volumerize-cache
            - volumerize-credentials:/credentials
            - hass-storage:/source/hass/storage:ro
            - letsencrypt-etc:/source/letsencrypt/etc:ro
            - secrets:/source/secrets:ro
            - unifi-backup:/source/unifi-backup
          environment:
            - VOLUMERIZE_SOURCE=/source
            - VOLUMERIZE_TARGET=gdocs://{{ volumerize_email }}/{{ volumerize_google_drive_dir }}
            - PASSPHRASE={{ volumerize_passphrase }}
            - TZ={{ TZ }}
            - VOLUMERIZE_JOBBER_TIME=0 30 0 * * 1
          networks:
            - docker1
          restart: unless-stopped
        unifi:
          image: linuxserver/unifi-controller
          container_name: unifi
          environment:
            - PUID=1000
            - PGID=999
          volumes:
            - unifi:/config
          ports:
            - 3478:3478/udp
            - 10001:10001/udp
            - 8080:8080
            - 8081:8081
            - 8443:8443
            - 8843:8843
            - 8880:8880
            - 6789:6789
          networks:
            - docker1
          restart: unless-stopped
        plex:
          image: linuxserver/plex
          container_name: plex
          environment:
            - PUID=1000
            - PGID=999
            - VERSION=docker
          volumes:
            - plex_config:/config
            - media:/media
          ports:
            - 32400:32400
            - 32400:32400/udp
            - 32469:32469
            - 32469:32469/udp
            - 1900:1900/udp
            - 3005:3005
            - 8324:8324
            - 32410:32410/udp
            - 32411:32411/udp
            - 32412:32412/udp
            - 32413:32413/udp
            - 32414:32414/udp
          networks:
            - docker1
          restart: unless-stopped
        cups:
          image: korylprince/cups-gcp-cups:v1.0.1
          container_name: cups
          environment:
            - CUPS_USER={{ cups_user }}
            - CUPS_PASS={{ cups_pass }}
            - XMPP_JID={{ gcp_xmpp_jid }}
            - REFRESH_TOKEN={{ gcp_refresh_token }}
            - PROXY_NAME={{ gcp_proxy_name }}
            - TZ={{ TZ }}
          volumes:
            - cups:/cups
          ports:
            - 631:631
          networks:
            - docker1
          devices:
            - /dev/bus/usb/{{ usb_printer_bus }}/{{ usb_printer_device }}
          restart: unless-stopped

      networks:
        docker1:
          driver: bridge
          driver_opts:
            com.docker.network.bridge.name: docker1
        private0:
          driver: bridge
          driver_opts:
            com.docker.network.bridge.name: private0
          internal: true
        public0:
          driver: bridge
          driver_opts:
            com.docker.network.bridge.name: public0
        docker2:
          driver: bridge
          driver_opts:
            com.docker.network.bridge.name: docker2

      volumes:
        hass-config:
          driver: local
          driver_opts:
            device: {{ docker_compose_dir }}/hass
            o: bind
            type: none
        hass-storage:
          driver: local
          driver_opts:
            device: {{ docker_compose_dir }}/hass/.storage
            o: bind
            type: none
        letsencrypt-config:
          driver: local
          driver_opts:
            device: {{ docker_compose_dir }}/letsencrypt
            o: bind
            type: none
        letsencrypt-etc:
          driver: local
          driver_opts:
            device: {{ docker_compose_dir }}/letsencrypt/etc
            o: bind
            type: none
        fail2ban-jails:
          driver: local
          driver_opts:
            device: {{ docker_compose_dir }}/letsencrypt/fail2ban/jail.d
            o: bind
            type: none
        public-nginx-config:
          driver: local
          driver_opts:
            device: {{ docker_compose_dir }}/nginx-public/nginx
            o: bind
            type: none
        public-nginx-log:
          driver: local
          driver_opts:
            device: {{ docker_compose_dir }}/nginx-public/log/nginx
            o: bind
            type: none
        private-nginx-config:
          driver: local
          driver_opts:
            device: {{ docker_compose_dir }}/nginx-private/nginx
            o: bind
            type: none
        private-nginx-log:
          driver: local
          driver_opts:
            device: {{ docker_compose_dir }}/nginx-private/log/nginx
            o: bind
            type: none
        volumerize-cache:
          driver: local
          driver_opts:
            device: {{ volumerize_dir }}/cache
            o: bind
            type: none
        volumerize-credentials:
          driver: local
          driver_opts:
            device: {{ volumerize_dir }}/credentials
            o: bind
            type: none
        secrets:
          driver: local
          driver_opts:
            device: {{ secrets_dir }}
            o: bind
            type: none
        unifi:
          driver: local
          driver_opts:
            device: {{ docker_compose_dir }}/unifi
            o: bind
            type: none
        unifi-backup:
          driver: local
          driver_opts:
            device: {{ docker_compose_dir }}/unifi/data/backup
            o: bind
            type: none
        media:
          driver: local
          driver_opts:
            device: ":{{ nas_media_dir }}"
            o: addr={{ nas_address }},rw
            type : nfs
        plex_config:
          driver: local
          driver_opts:
            device: {{ media_server_dir }}
            o: bind
            type: none
        cups:
          driver: local
          driver_opts:
            device: {{ cups_dir }}
            o: bind
            type: none
