{%- macro print_origin_and_records(origin, records, dns_root_domain, max_pad) -%}
    {{- print_origin(origin, dns_root_domain)  }}
    {{- '\n' }}{{ print_records(records, max_pad) -}}
{%- endmacro %}

{%- macro print_records(records, max_pad) -%}
    {%- if records | length > 0 -%}
        {%- set grouped_records = records | groupby('host') -%}
        {%- set host, host_records = grouped_records | first -%}
        {{- print_host_records(host_records, max_pad) }}
        {%- for host, host_records in grouped_records[1:] %}
            {{- print_host_records(host_records, max_pad) }}
        {%- endfor %}
    {%- endif -%}
{%- endmacro %}

{%- macro print_host_records(records, max_pad) -%}
    {%- if records | length > 0 -%}
        {%- set sorted_records = records | sort(attribute='type') -%}
        {{- print_record(sorted_records | first, max_pad) }}
        {%- for record in sorted_records[1:] %}
            {{- print_record(record, max_pad, '') }}
        {%- endfor %}
    {%- endif -%}
{%- endmacro %}

{%- macro print_record(record, max_pad, host) -%}
    {%- set host_to_print = host | default(record.host) | string -%}
    {%- set pad = get_padding_for_host(host_to_print, max_pad) | int -%}
    {%- include 'db/record.j2' -%}
{%- endmacro %}

{%- macro print_soa(zone_name, dns_hostname, dns_root_domain, serial_number_increment) -%}
    {%- set current_serial_number = lookup('dig', zone_name, 'qtype=SOA', 'flat=0').serial | default(0) | int -%}
    {%- set serial_number = current_serial_number + serial_number_increment -%}
    {%- include 'db/soa.j2' -%}
{%- endmacro -%}

{%- macro print_origin(origin, origin_root_domain) -%}
    {%- set full_origin = [origin, origin_root_domain | default('')] | select() | join('.') -%}
    {%- include 'db/origin.j2' -%}
{%- endmacro -%}

{%- macro print_ttl(count, units) -%}
    {%- set comment = (count | string) + ' ' + units -%}
    {%- set durations = {
        'second': count,
        'minute': count * 60,
        'hour': count * 60 * 60,
        'day': count * 60 * 60 * 24,
        'week': count * 60 * 60 * 24 * 7,
        'year': count * 60 * 60 * 24 * 365
        } -%}
    {% set seconds = durations[units] | default(durations[units[:-1]]) %}
    {%- include 'db/ttl.j2' -%}
{%- endmacro -%}

{%- macro print_file(zone_name, dns_hostname, dns_root_domain, records, record_selector, serial_number_increment, origin_root_domain, max_pad) -%}
    {%- set grouped_records = records | selectattr(record_selector.field, record_selector.test, record_selector.value) | groupby('origin')  %}
    {%- set hostnames = grouped_records | map(attribute='1') | flatten | map(attribute='host') | map('string') -%}
    {%- set max_pad = max_pad | default(get_max_padding(hostnames)) | int -%}
    {%- set origin, records = grouped_records | first | default((zone_name, [])) %}
    {%- include 'db/file.j2' %}
{%- endmacro -%}

{%- macro get_max_padding(hostnames) -%}
    {%- set longest_hostname = hostnames | map('length') | max | default(0) -%}
    {%- set max_pad = (((longest_hostname + 1) / 8) | round(0, 'ceil') | int) -%}
    {{- max_pad }}
{%- endmacro -%}

{%- macro get_padding_for_host(host, max_pad) -%}
    {{- (((max_pad * 8) - (host | length)) / 8) | round(0, 'ceil') }}
{%- endmacro -%}

{%- macro append_records_for_host(records, zone, host, interface_type, offset, forward_origin, forward_host, reverse_ipv4_origin, link_local_ipv6_origin, dns_root_domain) -%}
    {%- set ipv4_address = zone.ipv4_subnet | ipaddr(host.ipv4_offset + offset) | ipaddr('address') -%}
    {%- set _ = records.append({'origin': forward_origin, 'host': forward_host, 'type': 'A', 'target_host': ipv4_address, 'target_zone': ''}) -%}

    {%- if 'ipv6_interface' in host[interface_type] -%}
        {%- set ipv6_address = ((zone.ipv6_prefix | ipaddr('network')) + host[interface_type].ipv6_interface) -%}
        {%- if ipv6_address | ipaddr('address') -%}
            {%- set _ = records.append({'origin': forward_origin, 'host': forward_host, 'type': 'AAAA', 'target_host': ipv6_address, 'target_zone': ''}) -%}
        {%- endif -%}
    {%- else -%}
        {%- set ipv6_address = 'fe80::' | slaac(host[interface_type].mac) -%}
        {%- set _ = records.append({'origin': forward_origin, 'host': forward_host, 'type': 'AAAA', 'target_host': ipv6_address, 'target_zone': ''}) -%}
        {%- set _ = records.append({'origin': link_local_ipv6_origin, 'host': (ipv6_address | ipaddr('revdns'))[:31], 'type': 'PTR', 'target_host': forward_host, 'target_zone': forward_origin + '.' + dns_root_domain + '.' + link_local_ipv6_origin + '.'}) -%}
    {%- endif -%}

    {%- set _ = records.append({'origin': reverse_ipv4_origin, 'host': host.ipv4_offset, 'type': 'PTR', 'target_host': forward_host, 'target_zone': forward_origin + '.' +  dns_root_domain + '.' + reverse_ipv4_origin + '.'}) -%}
{%- endmacro %}

{%- macro append_records_for_aliases(records, host, dns_zone, dns_root_domain) -%}
    {%- for alias in host.aliases | default([]) -%}
        {%- set _ = records.append({'origin': dns_root_domain, 'host': alias, 'type': 'CNAME', 'target_host': host.name, 'target_zone': dns_zone}) -%}
    {%- endfor -%}
{%- endmacro -%}

{%- macro append_records_for_host_origin_aliases(records, zone, host, forward_host, dns_root_domain) -%}
    {%- for alias in host.aliases | default([]) -%}
        {%- set _ = records.append({'origin': alias + '.' + dns_root_domain, 'host': forward_host, 'type': 'CNAME', 'target_host': forward_host + '.' + host.name, 'target_zone': zone.name + '.' + dns_root_domain + '.'}) -%}
    {%- endfor -%}
{%- endmacro -%}

{%- macro append_ethernet_records(records, zone, host, reverse_ipv4_origin, link_local_ipv6_origin, dns_zone, dns_root_domain) -%}
    {{- append_records_for_host(records, zone, host, 'ethernet', 0, zone.name, host.name, reverse_ipv4_origin, link_local_ipv6_origin, dns_root_domain) }}
    {{- append_records_for_aliases(records, host, dns_zone, dns_root_domain) }}
{%- endmacro -%}

{%- macro append_wifi_records(records, zone, host, reverse_ipv4_origin, link_local_ipv6_origin, dns_zone, dns_root_domain) -%}
    {{- append_records_for_host(records, zone, host, 'wifi', 256, zone.name, host.name, reverse_ipv4_origin, link_local_ipv6_origin, dns_root_domain) }}
    {{- append_records_for_aliases(records, host, dns_zone, dns_root_domain) }}
{%- endmacro -%}

{%- macro append_ethernet_and_wifi_records(records, zone, host, reverse_ipv4_ethernet_origin, reverse_ipv4_wifi_origin, link_local_ipv6_origin, dns_root_domain) -%}
    {%- set forward_origin = host.name + '.' + zone.name -%}
    {{- append_records_for_host(records, zone, host, 'ethernet', 0, forward_origin, 'ethernet', reverse_ipv4_ethernet_origin, link_local_ipv6_origin, dns_root_domain) }}
    {{- append_records_for_host_origin_aliases(records, zone, host, 'ethernet', dns_root_domain) }}
    {{- append_records_for_host(records, zone, host, 'wifi', 256, forward_origin, 'wifi', reverse_ipv4_wifi_origin, link_local_ipv6_origin, dns_root_domain) }}
    {{- append_records_for_host_origin_aliases(records, zone, host, 'wifi', dns_root_domain) }}
{%- endmacro -%}

{%- macro append_records_for_zone(records, zone, dns_zone, dns_root_domain) -%}
    {%- set link_local_ipv6_origin = ('fe80::' | ipaddr('revdns'))[32:72] -%}

    {%- set zone_octets = ((zone.ipv4_subnet | ipaddr('prefix')) / 8) | round(0, 'ceil') | int -%}

    {%- set reverse_ipv4_ethernet_origin_octets = (zone.ipv4_subnet | ipaddr('network')).split('.') -%}
    {%- set reverse_ipv4_ethernet_origin = reverse_ipv4_ethernet_origin_octets[:zone_octets] | reverse | join('.') + '.in-addr.arpa' -%}

    {%- set reverse_ipv4_wifi_origin_octets = (zone.ipv4_subnet | ipaddr(256) | ipaddr('address')).split('.') -%}
    {%- set reverse_ipv4_wifi_origin = reverse_ipv4_wifi_origin_octets[:zone_octets] | reverse | join('.') + '.in-addr.arpa' -%}

    {%- set hosts_with_ethernet_and_wifi = zone.hosts | selectattr('ethernet', 'defined') | selectattr('wifi', 'defined') -%}

    {%- for host in zone.hosts | difference(hosts_with_ethernet_and_wifi) | selectattr('ethernet', 'defined') -%}
        {{- append_ethernet_records(records, zone, host, reverse_ipv4_ethernet_origin, link_local_ipv6_origin, dns_zone, dns_root_domain) }}
    {%- endfor -%}

    {%- for host in zone.hosts | difference(hosts_with_ethernet_and_wifi) | selectattr('wifi', 'defined') -%}
        {{- append_wifi_records(records, zone, host, reverse_ipv4_wifi_origin, link_local_ipv6_origin, dns_zone, dns_root_domain) }}
    {%- endfor -%}

    {%- for host in hosts_with_ethernet_and_wifi -%}
        {{- append_ethernet_and_wifi_records(records, zone, host, reverse_ipv4_ethernet_origin, reverse_ipv4_wifi_origin, link_local_ipv6_origin, dns_root_domain) }}
    {%- endfor -%}
{%- endmacro -%}
