$TTL	604800
@	IN	SOA	{{ dns_hostname }}.	root.{{ network.domain }}.{{ network.suffix }}. (
       			       1	; Serial
			  604800	; Refresh
			   86400	; Retry
			 2419200	; Expire
			  604800 )	; Negative Cache TTL
;

@			IN	NS	{{ dns_hostname }}.
{% if item == dns_zone %}
{{ dns_server }}                    IN      A       {{ dns_host_ip }} 
{% elif item == network.domain + "." + network.suffix %}
{{ dns_server }}.{{ dns_zone }}     IN      A       {{ dns_host_ip }}
{% endif %}
