{%- import 'db/macros.j2' as macros -%}
{%- set zone = network.zones | selectattr('name', 'equalto', item.zone_name) | first -%}
{%- set records = [] -%}
{{- macros.append_records_for_zone(records, zone, dns_zone, dns_root_domain) }}
{%- set zone_name = item.zone_name + '.' + dns_root_domain -%}
{%- set record_selector = { 'field': 'type', 'test': 'in', 'value': ['A', 'AAAA'] } -%}
{{ macros.print_file(zone_name, dns_hostname, dns_root_domain, records, record_selector, item.serial_number_increment | default(0), dns_root_domain) }}
