{% set ddns_key_name = network.domain + '.' + network.suffix %}
include "/etc/bind/ddns.key";

{% for zone in network.zones %}
{% set fwd_zone = zone.name + '.' + network.domain + '.' + network.suffix %}
zone "{{ fwd_zone }}"
{
    type master;
    notify no;
    file "{{ '/etc/bind/db.' + fwd_zone }}";
};

{% set zone_octets = ((zone.ipv4_subnet | ansible.utils.ipaddr('prefix')) / 8) | round(0, 'ceil') | int -%}
{%- set reverse_zone = (zone.ipv4_subnet | ansible.utils.ipaddr('network') | ansible.utils.ipaddr('revdns') | split('.'))[(4 - zone_octets):] | select() | join('.') -%}

zone "{{ reverse_zone }}"
{
    type master;
    notify no;
    file "{{ '/etc/bind/db.' + reverse_zone[:-13] }}";
};

{% set reverse_zone = (zone.ipv4_subnet | ansible.utils.ipaddr('network') | ansible.utils.ipmath(256) | ansible.utils.ipaddr('revdns') | split('.'))[(4 - zone_octets):] | select() | join('.') -%}

zone "{{ reverse_zone }}"
{
    type master;
    notify no;
    file "{{ '/etc/bind/db.' + reverse_zone[:-13] }}";
};
{% endfor %}
zone "{{ network.domain }}.{{ network.suffix }}"
{
    type master;
    notify no;
    file "{{ '/etc/bind/db.' + network.domain + '.' + network.suffix }}";
};

zone "{{ reverse_ipv6_zone }}.ip6.arpa"
{
    type master;
    notify no;
    file "{{ '/etc/bind/db.' + reverse_ipv6_zone }}";
};
