server {
{% if nginx_use_https %}
    listen 443 ssl;
    include /etc/nginx/ssl.conf;
{% else %}
    listen 80;
{% endif %}
    server_name {{ nginx_server_name }};
    client_max_body_size 0;

{% if nginx_set_host_header %}
    proxy_set_header Host $host;
{% endif %}
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";

{% if nginx_paths | length == 0 %}
    location / {
        set $backend "{{ nginx_target }}";
        proxy_pass $backend;
    }
{% else %}
{% for path in nginx_paths %}
    location {{ path }} {
        set $backend "{{ nginx_target }}";
        proxy_pass $backend;
    }

{% endfor %}
    location / {
        return 404;
    }
{% endif %}
}
