[{{ file_vars['jail_name'] }}]

enabled  = true
{% if 'port' in file_vars %}
port     = {{ file_vars['port'] }}
{% endif %}
filter   = {{ file_vars['jail_name'] }}
logpath  = /config/log/{{ file_vars['file'] }}
{% if 'max_retries' in file_vars %}
maxretry = {{ file_vars['max_retries'] }}
{% endif %}
