{%- macro configure_build(service, service_definition, dockerfiles_dir, default_args) -%}
    {%- set build = { 'context': dockerfiles_dir, 'dockerfile': service.name + '.Dockerfile', 'args': default_args } -%}
    {%- set _ = service_definition.update({ 'build': build }) -%}
{%- endmacro -%}

{%- macro configure_container_name(service, service_definition) -%}
    {%- set container_name = service.container_name | default(service.name) -%}
    {%- set _ = service_definition.update({ 'container_name': container_name }) -%}
{%- endmacro -%}

{%- macro configure_value(name, service, service_definition) -%}
    {%- if name in service -%}
        {%- set _ = service_definition.update({ name: service[name] }) -%}
    {%- endif -%}
{%- endmacro -%}

{%- macro configure_list(config_name, service, service_definition, compose_name) -%}
    {%- set output_name = compose_name | default(config_name) -%}
    {%- if config_name in service -%}
        {%- set _ = service_definition.update({output_name: service[config_name] }) -%}
    {%- endif %}
{%- endmacro -%}

{%- macro configure_networks(service, service_definition, primary_network_name) -%}
    {%- if 'networks' in service -%}
        {%- set networks = service.networks.extra | default({}) -%}

        {%- if service.networks.default | default(true) -%}
            {%- if service.networks.default_ipv4_address is defined -%}
              {%- set _ = networks.update({primary_network_name: {'ipv4_address': service.networks.default_ipv4_address}}) -%}
            {%- else -%}
              {%- set _ = networks.update({primary_network_name: {}}) -%}
            {%- endif -%}
        {%- endif -%}
    {%- else -%}
        {%- set networks = {primary_network_name: {}} -%}
    {%- endif -%}

    {%- if networks | length > 0 -%}
        {%- set _ = service_definition.update({'networks': networks }) -%}
    {%- endif -%}
{%- endmacro -%}

{%- macro configure_networking(service, service_definition, primary_network_name) -%}
    {%- if service.networks.host | default(false) -%}
        {%- set _ = service_definition.update({'network_mode': 'host'}) -%}
    {%- else -%}
        {{- configure_networks(service, service_definition, primary_network_name) -}}
    {%- endif -%}
{%- endmacro -%}

{%- macro configure_environment(service, service_definition, default_environment) -%}
    {%- set service_environment = service.environment | default([]) -%}
    {%- set environment = default_environment + service_environment -%}
    {%- set _ = service_definition.update({ 'environment': environment }) -%}
{%- endmacro -%}

{%- macro configure_service(service, services, default_args, default_environment, primary_network_name, dockerfiles_dir) -%}
    {%- set service_definition = {} -%}

    {{- configure_build(service, service_definition, dockerfiles_dir, default_args) -}}

    {{- configure_value('command', service, service_definition) -}}
    {{- configure_value('tty', service, service_definition) -}}
    {{- configure_value('stop_signal', service, service_definition) -}}

    {{- configure_list('volumes', service, service_definition) -}}
    {{- configure_list('ports', service, service_definition) -}}
    {{- configure_list('devices', service, service_definition) -}}
    {{- configure_list('capabilities', service, service_definition, 'cap_add') -}}

    {{- configure_container_name(service, service_definition) -}}
    {{- configure_networking(service, service_definition, primary_network_name) -}}

    {{- configure_environment(service, service_definition, default_environment) -}}

    {%- set _ = service_definition.update({ 'restart': 'always' }) -%}

    {%- set _ = services.update({ service.name: service_definition }) %}
{%- endmacro -%}

{%- macro configure(services, compose, default_args, default_environment, primary_network_name, dockerfiles_dir) -%}
    {%- set docker_services = {} -%}
    {%- for service in services -%}
        {{- configure_service(service, docker_services, default_args, default_environment, primary_network_name, dockerfiles_dir) -}}
    {%- endfor -%}

    {%- set _ = compose.update({'services': docker_services}) -%}
{%- endmacro -%}
